<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="schema:keys" value="CMIcode, CMIxml, CMIxmlescaped"/>
    <add key="schema:types" value="int, string, string"/>
    <add key="fileType" value="*.xml"/>
    <add key="separator" value="&#x9;"/>
    <add key="enclose" value="~"/>
    <add key="newLine" value="&#xA;"/>
  </appSettings>
</configuration>